<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="./stylesheets/style.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a  class="nav-link" href="./form-add">Thêm</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="./search">Tìm kiếm</a>
      </li>
    </ul> 


</nav>


<div class="cb-search ">
  <h1>Nhập thông tin cán bộ cần tìm</h1>
  
  <form  action="./search/results" method="GET" style="width: 400px;">
      <div class="form-group container" >
        <label for="hoten">họ tên</label>
        <input type="text" class="form-control" id="hoten" name = "hoten">
      </div>
  
      <div class="form-group container">
          <button type="submit" class="btn btn-primary ">Tìm</button>
      </div>  
    </form>
  
    <h1> Kết quả tìm được</h1>
  
    <table  class="table mt-4">
      <tr>
        <th scope="row">ID</th>
        <th>Hình ảnh</th>
        <th>Họ tên</th>
        <th>Tuổi</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
        <th>Tuỳ Chọn</th>
      </tr>
      <% test.forEach(item => { %> 
       <tr>
        <td><%= item._id %> </td>
        <td><img src="./images/<%= item.hinhanh %>" alt="" class="avatar"></td>
        <td><%= item.hoten %> </td>
        <td><%= item.tuoi %> </td>
        <td><%= item.gioitinh %> </td>
        <td><%= item.diachi %> </td>
        <td> 
            <a href="./form-update/<%= item._id %> ">Sửa</a>
            <a href="./form-delete/<%= item._id %> ">xoá</a>
        </td>
      </tr>
      <% }); %>
    </table>
</div>
